body{
    height: 98vh;
    background-color: grey;
   
}
h1{
    font-family: "Sonsie One";
    padding-left:140px;
    position: sticky;
    color: white;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 50px; 

}
main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(11,1fr) ;
    grid-gap: 10px;
    
}

img{ 
    width: 200px;
    height: 100px;
    border-radius: 20px;
    
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 100px
    
}

.empty{
    display:none
}


@media only screen and (min-width: 600px) {
    body{
        margin: 50px
    }

    
    h1{
        font-family: "Sonsie One";
        padding-left:20x;
        position: sticky;
        margin-bottom: 100px;
        font-size: 20;
    }
    main{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr) ;
        grid-gap: 10px;
        
    }
    .item1{
        grid-column-start: 2;
        grid-column-end:2;
        margin-left:0px;
    }
   .item8{
    grid-column-start: 4;
    grid-column-end:6;
   }

   .item11{
    grid-column-start: 4;
    grid-column-end:6;
   }

   .item13{
       grid-column-start: 3;
   }
   .item14{
       grid-column-start: 4;
       grid-column-end:6;
   }
    empty {
    display:grid;
    }
@media only screen and (min-width: 800px) {

        main{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(4,1fr) ;
            grid-gap: 10px;
            
        }
        .empty{
            background-color: black;
        }
        .item1{
            grid-column-start: 2;
            grid-column-end:2;
            margin-left:0px;
        }
        .item8{
            grid-column-start: 3;
            grid-column-end: 3;
        }
        .item11{
            grid-column-start: 2;
            grid-column-end:2;                    
        }
       .item13{
           grid-column-start: 5;
       }
       .item14{
           grid-column-start: 6;
           grid-column-end: 6;
       }
    }

}